<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>排队显示</title>
    <script src="staticfile/js/jquery-3.1.1.min.js"></script>
    <script src="staticfile/js/bootstrap.js"></script>
    <script src="staticfile/js/sdxk-date.js"></script>
    <script src="staticfile/js/angular.min.js"></script>
    <link href="staticfile/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: black;
            color: red;
        }

        .top_row {
            height: 50%;
            width: 100%;
        }
    </style>
</head>
<body ng-app="myapp" ng-controller="myctrl">
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                <h3 class="text-center">
                    <strong>{{title}}</strong>
                </h3>
            </div>
        </div>

        <div class="row-fluid text-center" style="height:40%">
            <div class="span12" ng-repeat="x in queue">
                <h1>
                    <strong>{{x}}</strong>
                </h1>
            </div>
        </div>
        <div class="row-fluid" text-left>
            <h2><strong>待叫号人员,当前有{{person_num}}人等待</strong></h2>
        </div>
        <div class="row-fluid text-center" ng-repeat="arr in sdnWait">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-repeat="x in arr">
                <h2>
                    <strong>{{x}}</strong>
                </h2>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        var app = angular.module('myapp', []);
        app.controller('myctrl', function ($scope, $interval, $timeout) {
            $scope.queue = []; //办理队列
            $scope.sdnWait = [] //等待队列
            $scope.title = "请注意听报号语音，核对手中小票，过号不侯。";
            $scope.person_num = 0;//等待人数
            $scope.JsonData = {"count":0,"done":[],"wait":""};//当前显示json
            $interval(function () {
                var last = $scope.title.substr(0, 2);
                $scope.title = $scope.title.substr(2) + last;
            }, 500);
        });

        //修改标题头
        var modify_title = function (title) {
            //通过controller来获取Angular应用
            var appElement = document.querySelector('[ng-controller=myctrl]');
            //获取$scope变量
            var $scope = angular.element(appElement).scope();
            // alert($scope.titl_msg);
            $scope.title = title;
        }
        //更新排队信息
        var update_queue = function (data) {
            //通过controller来获取Angular应用
            var appElement = document.querySelector('[ng-controller=myctrl]');
            //获取$scope变量
            var $scope = angular.element(appElement).scope();
          //  alert(data);
            var JsonData = JSON.parse(data);
            $scope.JsonData = JsonData;
            var arrWait = JsonData.wait.split(','); //得到等待队列
          //  alert(arrWait);
            var row_json = [];//每行小json
            var wait_json = [];//等待排队信息
            var i_row = 0;
            for (var i = 0; i < arrWait.length; i++) {
                i_row++;
                row_json.push(arrWait[i]);
                if (i_row == 4) {
                    i_row = 0;
                    wait_json.push(row_json);
                    row_json = [];
                }
            }
            if (i_row != 0) {
                i_row = 0;
                wait_json.push(row_json);
                row_json = [];
            }

            $scope.sdnWait = wait_json;
          //  alert(wait_json);
            var arr_done = [];
            var tmp_done = JsonData.done; //得到已经完成的数据
            for (var i = 0; i < tmp_done.length; i++) {
                arr_done.push("请" + tmp_done[i].que_no + "号到" + tmp_done[i].win_no + "号窗口办理业务");
            }
            $scope.queue = arr_done;
            $scope.person_num = JsonData.count;
        }
        //新增取票
        var add_queue = function (data) {
           // debugger;
          //  data = '{ "count": 7, "wait": "A1002,A1003,A2003,A2004,A2005,A3001,A3002" }';
              //通过controller来获取Angular应用
            var appElement = document.querySelector('[ng-controller=myctrl]');
            //获取$scope变量
            var $scope = angular.element(appElement).scope();
            var addJson = JSON.parse(data);
            var jsonData = $scope.JsonData;//拿到页面jsonData
            var tmp_add_queue;
            if (jsonData.wait == "") { //如果等于空
                tmp_add_queue = addJson.wait;
            } else {
                 tmp_add_queue= jsonData.wait + "," + addJson.wait;
            }
            
            jsonData.wait = tmp_add_queue;
            jsonData.count = addJson.count;
            $scope.person_num = addJson.count;
          //  alert(tmp_add_queue);
           // alert(JSON.stringify(jsonData));
            update_queue(JSON.stringify(jsonData));
        }

        function connectWebViewJavascriptBridge(callback) {
            if (window.WebViewJavascriptBridge) {
                callback(WebViewJavascriptBridge)
            } else {
                document.addEventListener(
                    'WebViewJavascriptBridgeReady'
                    , function () {
                        callback(WebViewJavascriptBridge)
                    },
                    false
                );
            }
        }
        connectWebViewJavascriptBridge(function (bridge) {
            bridge.init(function (message, responseCallback) {
                console.log('JS得到信息', message);
                var data = { "response": "sdnsdn" };

                if (responseCallback) {
                    console.log('JS 请求', data);
                    responseCallback(data);
                }
            });
            bridge.registerHandler("modify_title", function (data, responseCallback) {
                modify_title(data);
                var responseData = "修改显示标头";
                responseCallback(responseData);
            });
            bridge.registerHandler("update_queue", function (data, responseCallback) {
                update_queue(data);
                var responseData = "更新排队信息";
                responseCallback(responseData);
            });
             bridge.registerHandler("add_queue", function (data, responseCallback) {
                add_queue(data);
                var responseData = "新增取票信息信息";
                responseCallback(responseData);
            });
        });
    </script>

</body>
</html>